@media screen and (min-width:450px) {

	html,
	body {
		height: 100%;
	}

	html {
		padding: 20px 0;
	}
		
	.wrapper {
		margin: 0 auto;
		height: 650px;
		width: 400px;
	}

	.appt-input {
		margin-top: 0;
	}

	.appt-white-blocks {
		margin-right: -1%;
	}

	.title-span {
		margin-top: 3.5%;
	}

	.new-appt-button {
		margin-top: -2%;
	}

	.back-button {
		margin-top: -1.5%;
	}

}



@media screen and (max-width: 395px) {

	.appt-select {
		height: 33px;
		padding-top: 4px;
	}

	.title-span {
		font-size: 100%;
		margin-top: 3.92%;
	}

	.appt-title-span {
		font-size: 95%;
		padding-top: 4%;
		margin-top: 0%;
	}

	.appt-label:before {
	    height:32px;
	}

	.appt-label-category {
		width: 36%;		
	}

	.appt-label-category:after {
		padding:0 0px 2px 5px;
	}

	.appt-select-category {
		width: 100%;
	}

	.state-choice {
		height: 33px;
	}

	.state-choice-label:after {
		top: 1px;
		padding:0 0px 2px 5px;
	}

	.state-choice-label:before {
		top: -8px;
	}

	.back-button {
		width: 10%;
	}

}



@media screen and (max-width: 340px) {

	.time-span {
		font-size: 130%;
	}

	.title-span {
		font-size: 100%;
		margin-top: 0;
		padding-top: 4.5%;
	}

	.appt-title-span {
		font-size: 90%;
		padding-top: .69em;
	}

	.new-appt-button {
		margin-right: 3.8%;
		margin-top: -1.5%;
	}

	.back-button {
		width: 11%;
	}

}
