@media screen and (min-width:550px) {

	html,
	body {
		height: 0;
		min-height: 100%;
	}
		
	.wrapper {
		margin: 50px auto;
		height: 650px;
		width: 400px;
	}

	.appt-input {
		margin-top: 0;
	}

	.appt-white-blocks {
		margin-right: -1%;
	}

	.black-overlay {
		height: 115%;
	}

	.deats-wrapper {
		top: 30%;
		width: 30%;
		right: 35%;
	}

}



@media screen and (max-width: 395px) {

	.appt-select {
		height: 33px;
		padding-top: 4px;
	}

	.title-span {
		font-size: 87%;
		margin-top: 3.6%;
	}

	.appt-title-span {
		margin-top: 5%;
	}

	.appt-label:before {
	    height:32px;
	}

	.appt-label-category {
		width: 36%;		
	}

	.appt-label-category:after {
		padding:0 0px 2px 5px;
	}

	.appt-select-category {
		width: 100%;
	}

	.state-choice {
		height: 33px;
	}

	.state-choice-label:after {
		top: 1px;
		padding:0 0px 2px 5px;
	}

	.state-choice-label:before {
		top: -8px;
	}

}



@media screen and (min-width: 450px) and (max-width: 550px) {
	.state-choice {
		padding-top: 5px;
		height: 38px;
	}

	.state-choice-label:after {
		top: 0px;
		padding:0 2px 2px 8px;
	}

	.state-choice-label:before {
		top: -9px;
	}
}



@media screen and (max-width: 340px) {
	.time-span {
		font-size: 130%;
	}

	.appt-title-span {
		margin-top: 6%;
	}
}












